@model ScavengerHunt.Web.Models.Team

@{
    ViewBag.Title = Resources.Team;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Resources.Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>@Html.DisplayNameFor(model => model.Score)</dt>
        <dd>@Html.DisplayFor(model => model.Score)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd>
            @foreach (var member in Model.Members)
            {
                @Html.DisplayFor(modelItem => member.UserName)<br/>
            }
        </dd>
    </dl>
</div>
<br/>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
