@using System.Web.UI.WebControls
@model IList<ScavengerHunt.Web.Models.Team>

@{
    ViewBag.Title = Resources.JoinExistingTeam;
}

<style>
    @for (int i = 0; i < Model.Count; i++)
    {
        var className = Model[i].Name;
        var img = Model[i].LogoUrl;
        var imgHover = Model[i].LogoHoverUrl;
       <text>
       .@className {width: 400px; height: 400px;background-image:url(@img);}
       .@className:hover {background-image: url(@imgHover);}
       </text>
    }
</style>

<h2>@Resources.AreYouReady</h2>


@Resources.JoinExistingTeamExplanation

<hr/>

<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-md-6">
            <button onclick='chooseTeam("@Model[i].Token")' id="team-button" class=@Model[i].Name></button>
        </div>
    }
</div>

<form name="team-form" method="POST" action="/Team/Join">
    @Html.AntiForgeryToken()
    <input name="Token" type="hidden" id="token-value" value="">
</form>

<script type="text/javascript">
    function chooseTeam(token) {
        document.getElementById("token-value").value = token;
        document.forms["team-form"].submit();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
