@using System.Web.UI.WebControls
@using Newtonsoft.Json.Linq
@model Newtonsoft.Json.Linq.JArray

@{
    ViewBag.Title = Resources.JoinExistingTeam;
}

<h2>@Resources.AreYouReady</h2>

@Resources.JoinExistingTeamExplanation

<hr/>

<div id="team-info" align="center">
    <button onclick=" previousTeam() " class="btn btn-lg btn-primary">Prev</button>
    <img id="team-img" width="400" height="400"/>
    <button onclick=" nextTeam() " class="btn btn-lg btn-primary">Next</button>
    <br/>
    <br/>
    <button onclick=" chooseTeam() " id="team-button" class="btn btn-lg btn-primary"></button>
</div>

<form name="team-form" method="POST" action="/Team/Join">
    @Html.AntiForgeryToken()
    <input name="Token" type="hidden" id="token-value" value="">
</form>

<script type="text/javascript">
    var teams = @Html.Raw(Model.ToString());
    var idx = 0;

    function updateTeam() {
        document.getElementById("team-img").src = teams[idx]["LogoUrl"];
        document.getElementById("team-button").innerHTML = "Joindre les " + teams[idx]["Name"];
        document.getElementById("token-value").value = teams[idx]["Token"];
    }

    updateTeam();

    function previousTeam() {
        idx--;
        if (idx < 0) {
            idx = teams.length - 1;
        }

        updateTeam();
    }

    function nextTeam() {
        idx++;
        if (idx >= teams.length) {
            idx = 0;
        }

        updateTeam();
    }

    function chooseTeam() {
        document.forms["team-form"].submit();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
