@using ScavengerHunt.Web.Models
@model IEnumerable<ScavengerHunt.Web.Models.UserStunt>

@{
    ViewBag.Title = Resources.Judgement;
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink(Resources.FlagSubmissions, "Flags")</p>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stunt.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Resources.Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(x=>x.Status == UserStuntStatusEnum.Pending).OrderBy(x=>x.DateUpdated)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            <kbd>@Html.DisplayFor(modelItem => item.Stunt.Keyword)</kbd>
            @Html.DisplayFor(modelItem => item.Stunt, "StuntTitle", new { ForceCollapse = true })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item, "Score")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JudgeFeedback, "Tooltip", new { Text = "Feedback" })
            @Html.DisplayFor(modelItem => item.JudgeNotes, "Tooltip", new { Text = "Notes" })
        </td>
        <td>
            @Html.ActionLink(Resources.Edit, "Edit", new { id=item.Id })
        </td>
    </tr>
}
</table>

@if (Model.Any(x => x.Done))
{
    <h2>@Resources.Judged</h2>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stunt.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Resources.Notes
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Where(x => x.Done).OrderByDescending(x => x.DateUpdated))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    <kbd>@Html.DisplayFor(modelItem => item.Stunt.Keyword)</kbd>
                    @Html.DisplayFor(modelItem => item.Stunt, "StuntTitle", new { ForceCollapse = true })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item, "Score")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JudgeFeedback, "Tooltip", new { Text = "Feedback" })
                    @Html.DisplayFor(modelItem => item.JudgeNotes, "Tooltip", new { Text = "Notes" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}

@section scripts
{
    <script type="text/javascript">
        $("[data-toggle=tooltip").tooltip();
    </script>
}