@model IEnumerable<ScavengerHunt.Web.Models.UserStunt>
    
@foreach (var stunt in Model.Where(x => x.Done).OrderByDescending(x => x.DateUpdated).Take(5))
{
    <p>
        <b>@Html.DisplayFor(x => stunt.User.UserName)</b> <span>@Resources.capped</span>
        @Html.DisplayFor(x => stunt.Stunt.Title) <span>@Resources.For</span>
        <b>@Html.DisplayFor(x => stunt.Score) <span> @Resources.Points</span></b>
</p>
}