@model IEnumerable<ScavengerHunt.Web.Models.ApplicationUser>

@{
    ViewBag.Title = Resources.Scoreboard;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
    </tr>

@foreach (var item in Model) {
    if (item.Team != null)
     {
         <tr>
             <td>
                 <a href="../User/Details/?id=@item.Id">@Html.DisplayFor(modelItem => item.FullName)</a>
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Team.Name)
             </td>
             @if (item.Rank != null)
             {
                 <td>
                    @Html.DisplayFor(modelItem => item.Rank.Name)
                 </td>
             }
             else
             {
                <td>
                    No rank
                </td>
             }
             <td>
                 @Html.DisplayFor(modelItem => item.Score)
             </td>
         </tr>
     }
}

</table>
