@using Microsoft.AspNet.Identity
@model ScavengerHunt.Web.Models.ApplicationUser

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Resources.ScavengerHunt, "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(Resources.Teams, "Index", "Team")</li>
                <li>@Html.ActionLink(Resources.Stunts, "Index", "UserStunt")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Scoreboard</a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink(Resources.Members, "Index", "Scoreboard")</li>
                        <li>@Html.ActionLink(Resources.Teams, "Teams", "Scoreboard")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink(Resources.Achievement, "Index", "UserAchievement")</li>
                @if (User.IsInRole("Judge") || User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Judge</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Judge", "Index", "Judge")</li>
                            <li>@Html.ActionLink(Resources.Achievement, "IndexJudge", "Achievement")</li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Resources.Stunts, "IndexAdmin", "Stunt")</li>
                            <li>@Html.ActionLink(Resources.Teams, "IndexAdmin", "Team")</li>
                            <li>@Html.ActionLink(Resources.Members, "Index", "Account")</li>
                            <li>@Html.ActionLink(Resources.Achievement, "Index", "Achievement")</li>
                            <li>@Html.ActionLink(Resources.Settings, "Index", "Settings")</li>
                        </ul>
                    </li>
                }
            </ul>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink(Resources.Hello + " " + Model.FullName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(Resources.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
        </div>
    </div>
</div>
