
@{
    ViewBag.Title = "Rules";
}

<h2>@Resources.Rules</h2>

<div class="row">
    <ol>
        <li>@Resources.Rules1</li>
        <li>@Resources.Rules2</li>
        <li>@Resources.Rules3</li>
        <li>@Resources.Rules4</li>
        <li>@Resources.Rules5</li>
        <li>@Resources.Rules6</li>
    </ol>
</div>
