@model ScavengerHunt.Web.Models.UserAchievement

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@Resources.DeleteValidation</h3>
<div>
    <h4>@Resources.Achievement</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Delete class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList, "Index")
        </div>
    }
</div>
