@model ScavengerHunt.Web.Models.Stunt

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@ViewBag.Title</h2>

<h3>@Resources.DeleteValidation</h3>
<div>
    <h4>@Model.Keyword</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Delete class="btn btn-danger" /> |
            @Html.ActionLink(Resources.BackToList, "IndexAdmin")
        </div>
    }
</div>
