@model ScavengerHunt.Web.Models.ApplicationUser

@{
    ViewBag.Title = Html.DisplayFor(model => model.FullName);
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

    </dl>
</div>

@Html.Action("IndexPartial", "UserStunt", Model.Id)

<p>
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
