@model ScavengerHunt.Web.Models.ApplicationUser

@{
    ViewBag.Title = Html.DisplayFor(model => model.FullName);
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

    </dl>
</div>

<div class="row">
    @Html.Action("IndexPartial", "UserStunt", Model.Id)
</div>

<div style="padding-top:15px">
    @Html.Action("PartialIndex", "UserAchievement", Model.Id)
</div>

<p style="padding-top:15px">
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
