@using ScavengerHunt.Web.Resources
@model ScavengerHunt.Web.Models.TeamViewModel
 
@{
    ViewBag.Title = Model.Team.Name;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Resources.Position
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].AchievementPoints)

        </th>
    </tr>
@{
    int i = 0;
    foreach (var item in Model.Users)
    {
        i++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => i)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item, "UserName")
            </td>
            <th>
                <img src="@Html.DisplayFor(modelItem => item.Rank.Icon)" title="@Html.DisplayFor(model => item.Rank.Name)" />
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchievementPoints)
            </td>
        </tr>
    }
}
</table>
